/* 
    Created on : 02/10/2021
    Author     : Alberto Fernandez Ramirez
   
*/
/*test @import url(//db.onlinewebfonts.com/c/3a47f5f06b5484abfeee9eac90348a9c?family=Gotham);*/
@font-face {font-family: "Gotham-Medium";
            src: url("3a47f5f06b5484abfeee9eac90348a9c.eot"); /* IE9*/
            src: url("3a47f5f06b5484abfeee9eac90348a9c.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
                url("3a47f5f06b5484abfeee9eac90348a9c.woff2") format("woff2"), /* chrome、firefox */
                url("3a47f5f06b5484abfeee9eac90348a9c.woff") format("woff"), /* chrome、firefox */
                url("3a47f5f06b5484abfeee9eac90348a9c.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
                url("3a47f5f06b5484abfeee9eac90348a9c.svg#Gotham-Medium") format("svg"); /* iOS 4.1- */
}
*{
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px;
}
body{
    font-family:calibri, arial, sans-serif;
    background-repeat:no-repeat;
    background-color:#EEEEEE;
    padding-bottom: 50px;
}
.titulopagina{
    font-family: "Gotham-Medium";
    font-size:17px;
    text-align:center;
    background-color:#252525;
    color:white;
    padding-top:15px;
    padding-bottom:15px;
    text-transform:uppercase;
}
.tituloaplicacion{
    font-family: "Gotham-Medium";
    font-size:19px;
    text-align:center;
    background-color:#D90000;
    color:white;
    padding-top:15px;
    padding-bottom:15px;
    text-transform:uppercase;
}
/* IMAGENES */
.imagegithub{
    margin-right:5px;
    float: right;
    width: 43px;
    height: 43px;
}
.imageplay{
    margin-right: 3px;
    float: right;
    width: 40px;
    height: 40px;
}
.imagecodigo{
    margin-right: 3px;
    float: right;
    width: 34px;
    height: 34px;
}
.imageatras{
    margin-left:5px;
    float: left;
    width: 43px;
    height: 43px;
}
.cajaimagen{
    width: 33px;
    height: 43px;
}
/* FOOTER */
.piepagina{
    font-family: "Gotham-Medium";
    font-size: 14px;
    background-color:#DDDDDD;
    position: fixed;
    bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    right: 0px;
    left: 0px;
}
.piepagina p{
    color:#33333D;
    text-align:center;
    margin-left: 31px;
}
.piepagina p:first-of-type{
    margin-top: 6px;
}

/*CONTENIDO DEL FORMULARIO EDITAR Y BOTONES ACEPTAR Y CANCELAR*/
.formularioeditar{
    margin-top: 15px;
    margin-bottom: 70px;
}
.fieldsetEditar{
    border: 2px solid black;
    width: 700px;
    height: 300px;
    margin: auto;
}
.botonaceptar{
    width: 200px;
    height: 25px;
    background-color: #00f200;
    margin: 5px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
.botonaceptar:hover{
    background-color: white;
    color: #00f200;
}
.botoncancelar{
    width: 200px;
    height: 25px;
    background-color: #ff1b22;
    margin: 5px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
.botoncancelar:hover{
    background-color: white;
    color: #ff1b22;
}

/*CONTENIDO DEL PROGRAMA.PHP CON DOS BOTONES*/
.cerrarsesion{
    width: 225px;
    font-size: 105%;
    padding: 12px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
.cerrarsesion:hover{
    background-color: white;
    color: #252525;
}
.editarperfil{
    width: 225px;
    font-size: 105%;
    padding: 12px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
.editarperfil:hover{
    background-color: white;
    color: #252525;
}
.detalle{
    width: 225px;
    font-size: 105%;
    padding: 12px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
.detalle:hover{
    background-color: white;
    color: #252525;
}
.container{
    position: relative;
    height: auto;
    width: 100%;
}
.formularioPrograma{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cerrarsesion{
    margin: 10px;
}
.detalle{
    margin: 10px;
}

.usuario{
    text-align: center;
}
.conexiones{
    text-align: center;
}
.ultimaConexion{
    text-align: center;
}

/*CONTENIDO DEL DETALLE.PHP CON DOS BOTONES*/
.cajas{
    background-color: #9999cc;
    border: 1px solid black;
}
.tablavariable{
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
}
h2{
    text-align: center;
}
.volver{
    width: 150px;
    font-size: 105%;
    padding: 10px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.volver:hover{
    background-color: white;
    color: #252525;
}
.buttonback{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    padding: 5px;
}
td{
    border: 1px solid black;
    margin: 0;
}

/*CONTENIDO DEL LOGIN.PHP CON DOS BOTONES*/
#CodUsuario{
    width: 251px;
}
#Password{
    width: 239px;
}
.entrar{
    width: 128px;
    font-size: 100%;
    padding: 5px;
    margin: 3px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.entrar:hover{
    background-color: white;
    color: #252525;
}
.volver{
    width: 128px;
    font-size: 100%;
    padding: 5px;
    margin: 3px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.volver:hover{
    background-color: white;
    color: #252525;
}
.registrarse{
    width: 128px;
    font-size: 100%;
    padding: 5px;
    margin: 3px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.registrarse:hover{
    background-color: white;
    color: #252525;
}

/*CONTENIDO DEL REGISTRO.PHP CON DOS BOTONES*/

.crear{
    width: 128px;
    font-size: 100%;
    padding: 5px;
    margin: 3px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.crear:hover{
    background-color: white;
    color: #252525;
}
.cancelar{
    width: 128px;
    font-size: 100%;
    padding: 5px;
    margin: 3px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.cancelar:hover{
    background-color: white;
    color: #252525;
}
#DescUsuario{
    width: 225px;
}
#RepetirPassword{
    width: 187px;
}

/*CONTENIDO DEL EDITARPERFIL.PHP CON CUATRO BOTONES*/
.cambiarpassword{
    width: 315px;
    font-size: 90%;
    padding: 4px;
    margin: 3px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.cambiarpassword:hover{
    background-color: white;
    color: #252525;
}
.aceptar{
    width: 115px;
    font-size: 100%;
    padding: 5px;
    margin: 3px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.aceptar:hover{
    background-color: white;
    color: #252525;
}
.cancelarperfil{
    width: 115px;
    font-size: 100%;
    padding: 5px;
    margin: 3px;
    text-align: center;
    background-color: #252525;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.cancelarperfil:hover{
    background-color: white;
    color: #252525;
}
.eliminarcuenta{
    width: 160px;
    font-size: 100%;
    padding: 5px;
    margin: 3px;
    text-align: center;
    background-color: red;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
.eliminarcuenta:hover{
    background-color: white;
    color: #252525;
}
#DescUsuario2{
    width: 218px;
}
#NumConexiones2{
    width: 168px;
}
#FechaHoraUltimaConexion2{
    width: 151px;
}
#Password2{
    width: 240px;
}
#ImagenUsuario2{
    width: 254px;
}

/*CONTENIDO DEL CAMBIARPASSWORD.PHP CON DOS BOTONES*/

#PasswordActual{
    width: 251px;
}
#PasswordNueva{
    width: 251px;
}
#RepetirPasswordNueva{
    width: 199px;
}